.footer_div {
  background: #1b1b1b;
  z-index: 999 !important;
}

.block__roadmap .item {
  background-color: #414141;
  border-radius: 20px;
  color: #ffffff;
  padding: 6px 12px;
  text-decoration: none;
}

.block__roadmap {
  margin-top: 40px;
}

.main_text {
  color: white;
  font-size: 52px;
  font-weight: 200;
  text-align: center;
}

.main_text div {
  font-family: "PlusJakartaMedium";
}

.main_text span {
  font-family: "PlusJakartaBold";
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #0873ba 4.93%, #00f9f9 98.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block__partners_icon {
  text-align: center;
  margin: 50px 0;
}

.block__partners_icon img {
  max-width: 24vw;
}

.lets_talk_button {
  background: linear-gradient(99.27deg, #02ddec 2.77%, #087bbe 57.02%);
  color: white;
  font-family: "PlusJakartaMedium";
  padding: 10px 30px;
  font-size: 25px;
  border: 0;
  outline: 0;
  box-shadow: 0px 0px 20px 0px #00000003;
  border-radius: 5px;
  margin-bottom: 40px;
}

.three_divs .header {
  font-family: "PlusJakartaMedium";
  font-size: 17px;
  color: white;
  padding: 0 20px;
  font-weight: 400;
}

.three_divs .desc {
  font-family: "Patron";
  padding: 0 20px;
  font-size: 13px;
  color: #e9e9e9;
  margin-top: 28px;
  text-align: left;
  color: #e9e9e9;
}

.three_divs .icon {
  margin-bottom: 20px;
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.three_divs .div_1 .icon img {
  height: 64px;
}

.three_divs .div_2 .icon img {
  height: 84px;
}

.three_divs .div_3 .icon img {
  height: 68px;
}

.div_1 .img {
  position: absolute;
  bottom: -20px;
  left: -1px;
}
.div_2 .img {
  position: absolute;
  bottom: -20px;
  left: -1px;
}
.div_3 .img {
  position: absolute;
  bottom: -20px;
  left: -1px;
}

.three_divs .div_1 {
  height: 446px;
  width: 279px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #424242;
}

.three_divs .div_2 {
  height: 446px;
  width: 279px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #424242;
}

.three_divs .div_3 {
  height: 446px;
  width: 279px;
  border-radius: 10px;
  position: relative;
  border: 1px solid #424242;
}

.block__bottom {
  background-color: #1b1b1b;
  border-radius: 18px;
  color: #bdbdbd;
  z-index: 99999999999 !important;
}

.block__bottom input {
  background: transparent;
  border: 0;
  padding: 10px;
  border-bottom: 2px solid #515151;
  outline: 0;
  color: #c6c6c6;
}

.post_form {
  background: linear-gradient(0deg, #282828, #282828),
    linear-gradient(0deg, #4b4b4b, #4b4b4b);
  border: 0;
  padding: 10px;
  border-radius: 100px;
  color: #d4d4d4;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 0px 20px 0px #00000029;
  border: 1px solid #4b4b4b;
}

.div_1 .blue_dot {
  position: absolute;
  left: -15px;
  scale: 0.8;
  top: 220px;
}

.div_2 .blue_dot {
  position: absolute;
  scale: 0.8;
  right: -15px;
  top: 30px;
}

.div_3 .blue_dot {
  position: absolute;
  right: -15px;
  scale: 0.8;
  top: 180px;
}

.three_divs .active {
  border: 1px solid #a3a3a3 !important;
}

@media only screen and (max-width: 767px) {
  .block__partners_icon img {
    max-width: 44vw;
  }
}
