.footer_div {
  background: #1b1b1b;
  z-index: 999 !important;
}

.block__roadmap .item {
  background-color: #414141;
  border-radius: 20px;
  color: #ffffff;
  padding: 6px 12px;
  text-decoration: none;
}

.block__roadmap {
  margin-top: 40px;
}

.main_text {
  color: white;
  font-size: 52px;
  font-weight: 200;
  text-align: center;
}

.main_text div {
  font-family: "PlusJakartaMedium";
}

.main_text span {
  font-family: "PlusJakartaBold";
  font-weight: 700;
  background: -webkit-linear-gradient(0deg, #0873ba 4.93%, #00f9f9 98.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block__graph {
  position: relative;
}

.block__graph img {
  max-width: 64vw;
}

.two_divs {
  gap: 140px;
}

.two_divs .div {
  color: white;
  width: 250px;
}

.two_divs .div .line {
  width: 2px;
  margin-left: 9px;
  background-color: #3a3a3a;
  height: 95px;
}

.two_divs .div p {
  padding: 6px 0;
}

.block__bottom {
  background-color: #1b1b1b;
  border-radius: 18px;
  color: #bdbdbd;
  z-index: 99999999999 !important;
}

.block__bottom input {
  background: transparent;
  border: 0;
  padding: 10px;
  border-bottom: 2px solid #515151;
  outline: 0;
  color: #c6c6c6;
}

.post_form {
  background: linear-gradient(0deg, #282828, #282828),
    linear-gradient(0deg, #4b4b4b, #4b4b4b);
  border: 0;
  padding: 10px;
  border-radius: 100px;
  color: #d4d4d4;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 0px 0px 20px 0px #00000029;
  border: 1px solid #4b4b4b;
}
