.block__roadmap .item {
  background-color: #414141;
  border-radius: 20px;
  font-size: 14px;
  color: #ffffff;
  padding: 8px 18px;
  text-decoration: none;
  transition: 0.2s;
}

.block__roadmap {
  margin-top: 40px;
}

.block__roadmap .item:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.title svg {
  margin-left: 10%;
  margin-bottom: 10px;
}

.title p {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #0391ef;
}

.desc {
  font-size: 21px;
  color: white;
  font-weight: 200;
  text-align: center;
}

.picture_div_parent {
  display: grid;
  place-items: center;
}

.picture_div {
  position: relative;
  color: white;
  border-radius: 10px;
  max-height: 300px;
  max-width: 1215px;
}

.picture_div .image img {
  margin-top: 40px;
  max-width: 1205px;
  width: 80vw;
}

.picture_div .image .arrow {
  position: absolute;
  cursor: pointer;
  right: 10%;
  top: 40px;
}

.description_text {
  margin-top: 200px;
  color: white;
  font-size: 20px;
}

.description_text p {
  font-family: "Patron";
  font-size: 20px;
  line-height: 32px;
  padding-top: 20px;
}

.footer_div {
  background: #1b1b1b;
}

@media only screen and (max-width: 575px) {
  .description_text {
    margin-top: 25px;
  }
}
